<div class="row">
  <div class="col-auto">
    <h2>Welcome,  
      {{#with Employee}}
      {{first_name}}{{last_name}}
      {{/with}} </h2>
  </div>
</div>

 <div class="col-md-6">
    <h3>Employee Schedule</h3>

    {{#each empTask as |task|}}
    <div class="row mb-2">
      <div class="col-md-8">

        <h4><a href="/Task/{{task.id}}">{{task.title}}{{task.time}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" task="{{task.id}}">OFFER SHIFT</button>


      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>