<div class="row">
    <div class="col-auto">
        <div class="welcome">
            <h1 class="h2"><span class="fancy">W</span>elcome, {{first_name}} {{last_name}}</h1>

        </div>
    </div>
</div>
{{!--Start of main section of employee page--}}
<div class="row mt-8">
    <div class="col-md-6">
        <h3 class="h3">Employee Profile Information</h3>
        <div class="col-md-6">
            <div class="avail-weekly">

                <table class="table-emp" style="margin:auto" align="center">
                    <thead>
                        <h2 class="h2">Enter Weekly Availability</h2>
                    </thead>
                    <tbody>
                        <tr>
                            {{!--Weekly--}}
                            <td>
                                <div id="availability" class="day">
                                    <input id="avail" class="input is-rounded" type="text" placeholder="Hours">
                                </div>
                            </td>
                        </tr>
                        <tr align="center">
                            <td align="center">
                                <form class="employee-available">
                                    <div class="form-group" align="center">
                                        <button id="conf" type="submit" class="btn btn-primary">Confirm</button>
                                    </div>
                                </form>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{!--Gets the employee information and tasks--}}
        {{#if tasks.length}}
        <div class="col-md-6 project-list">
            {{#each tasks as |task|}}
            <div class="weekly">
                <div class="col-md-8">
                    <div class="job-card">
                        <div class="media-content">
                            <h2 class="h2"><span class="fancy">F</span>ancy Restaurant</h2>
                            <h2 class="job">{{task.title}}</h2>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p id="start-time"><b>Start Time:</b> {{format_date task.start_time}}</p>
                                <p id="finish-time"><b>Finish Time:</b> {{format_date task.finish_time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
        {{!--Employee enters their available hours for the week coming--}}

    </div>

</div>

<script src="js/employee_logout.js"></script>
<script src="js/employee_availability.js"></script>