<div class="row">
    <div class="col-auto">
        <div class="welcome">
            <h1 class = "h2"><span class = "fancy">W</span>elcome,</h1> 
            <h2 class = "h2">{{first_name}}  {{last_name}}</h2>
            
        </div>
        
    </div>
</div>

        <h2 class = "h2">Welcome,
            
            {{first_name}}   {{last_name}}
            </h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3 class = "h3">Employee Profile</h3>
        <!--SHOW BULMA CALENDAR HERE -->
        <div class = "calendar">
            <form class = "form-hours">
            <input type = "datetime" class = "calendar">
        <button type="submit" class="btn btn-primary" id = "confirm">Confirm</button>
    
    </form>
            
        </div>
  {{!-- Do not show this until employment availability has been selected      
        <div class = "day">
            <div id="monday">
                <h2>Monday</h2>
                <input class="input is-rounded" type="text" placeholder="Hours Available"> 
            </div>
            
        </div>
       <div class = "day">
            <div id="tuesday">
                <h2>Tuesday</h2>
                <input class="input is-rounded" type="text" placeholder="Hours Available"> 
            </div>
            
        </div>
        <div class = "day">
            <div id="wednesday">
                <h2>Wednesday</h2>
                <input class="input is-rounded" type="text" placeholder="Hours Available"> 
            </div>
            
        </div>
        <div class = "day">
            <div id="thursday">
                <h2>Thursday</h2>
                <input class="input is-rounded" type="text" placeholder="Hours Available"> 
            </div>
            
        </div>
        <div class = "day">
            <div id="friday">
                <h2>Friday</h2>
                <input class="input is-rounded" type="text" placeholder="Hours Available"> 
            </div>
            
        </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
    </form>
</div>--}} 
{{#if task.length}}
<div class="col-md-6 project-list">
    <h2 class = "h2">Weekly Schedule:</h3>
    {{#each task as |task|}}
    <div class="weekly">
        <div class="col-md-8">
            <h4><a href="/employee/{{task.id}}">{{task.title}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{task.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
</div>
