<div class="row">
    <div class="col-auto">
        <h2 class="h2"><span class="fancy">W</span>elcome,</h2>
        <h3 class="h3">{{first_name}} {{last_name}}</h3>

    </div>
</div>

<div class="col-md-6">
    <h3>Employee Availability</h3>

    {{#each employees as |employee|}}
    <div class="row mb-2">
        <h2>Employee Name: {{employee.first_name}} {{employee.last_name}}</h2>
        <p>This employee is available for {{employee.availability}} hours per week</p>
    </div>
    {{/each}}
    <div class="row mb-2">
        <form action="POST">
            <label for="employee">Employee: </label>
            <select name="employee" id="employee">
                <option value=""></option>
                {{#each employees as |employee|}}
                <option value="{{employee.first_name}} {{employee.last_name}}">
                    {{employee.first_name}} {{employee.last_name}}
                </option>
                {{/each}}
            </select>
            <input type="datetime" name="start-time" id="start-time">
            <input type="datetime" name="finish-time" id="finish-time">
            <label for="task-title">Task: </label>
            <input type="text" name="task-title" id="task-title">
            <button></button>
        </form>
    </div>

</div>
<script src="js/manager_logout.js"></script>