<div class="row">
    <div class="col-auto">
        <h2 class="h2"><span class="fancy">W</span>elcome,</h2>
        <h3 class="h3">{{first_name}} {{last_name}}</h3>

    </div>
</div>
<div class="container" style="text-align: center;">
    <div class="column is-align-items-center">
        <h2 class="has-text-centered">Employee Weekly Availability</h3>
            <table class="table" style="margin:auto">
                <thead>
                    <tr>
                        <th><abbr title="EmployeeID">Employee ID </abbr></th>
                        <th><abbr title="FirstName">First Name</abbr></th>
                        <th><abbr title="SecondName">Last Name</abbr></th>
                        <th><abbr title="Email">Email</abbr></th>
                        <th><abbr title="Availability">Available Hours</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees as |employee|}}
                    <tr>
                        <th>{{id}}</th>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{email}}</td>
                        <td>{{availability}}</td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>


            <form id="create_task">
                <div class="field">
                    <label for="employee">Employee: </label>
                    <div class="select is-normal">
                        <select id="manager_employee">
                            {{#each employees as |employee|}}
                            <option value="{{employee.id}}">
                                {{employee.first_name}} {{employee.last_name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                </div>
                <input type="datetime" name="start-time" id="start-time">
                <input type="datetime" name="finish-time" id="finish-time">
                <label for="task-title">Task: </label>
                <input type="text" name="task-title" id="task-title">
                <button type="submit" class="btn btn-primary" id="task-button">Create Task</button>
            </form>
    </div>
</div>


<script src="js/manager_logout.js"></script>
<script src="js/create_task.js"></script>